@using ShoeStoreManagement.Core.Models
@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.ViewModel;
@using ShoeStoreManagement.Core.Enums;

@model VoucherVM

@{
	var nProducts = Model.page;

	int countPage()
	{

		int numberPages = 0;
		int numberVouchers = 0;

		foreach (Voucher i in Model.vouchers)
		{
			numberVouchers++;
		}

		numberPages = numberVouchers / 10;

		if (numberVouchers % 10 != 0)
			numberPages++;

		return numberPages;
	}
}

<div class="row borderCustom">

	<div class="col-lg-2 d-lg-block collapse borderCustom1 um">
		<div class="row">
			<ii class="row-1 h6 mb-2 mt-4">Category</ii>

			<div class="tabCustom row-cols-6 w-100" style="max-height:260px; overflow-y:scroll; overflow-x:hidden">
				<a class="tabCustom" style="height:50px;" asp-action="Index" asp-route-filter="All" type="button">All</a>
				<a class="tabCustom" style="height:50px;" asp-action="Index" asp-route-filter="Using" type="button">Using</a>
				<a class="tabCustom" style="height:50px;" asp-action="Index" asp-route-filter="Expired" type="button">Expired</a>
				<a class="tabCustom" style="height:50px;" asp-action="Index" asp-route-filter="ComingSoon" type="button">ComingSoon</a>
			</div>
		</div>
	</div>

	<div class="col-lg-10 col-12 mt-3 mt-lg-0">
		<div class="d-flex justify-content-end d-lg-none">
			<button class="filter-icon border-0 fs-3" data-bs-toggle="collapse" data-bs-target=".um" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="h5">Filter</span>
			</button>
		</div>
		<div class="row">
			<div class="col-md-12" id="hihi">
				<partial name="_ViewAll" model=@Model.vouchers/>
			</div>
		</div>
	</div>
</div>

<a onclick="showContent2('@Url.Action("Create","Voucher",null,Context.Request.Scheme)','Add new Voucher')" class="btn btn-primary icon-plus rounded position-fixed" style="right:0; bottom:60px;">
</a>