<!-- Button trigger modal -->
<button type="button" class="btn btn-primary rounded position-fixed bottom-0" data-toggle="modal" to data-target="#Modal">
    Change Phone Number
</button>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content w-auto px-3 py-3">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Change Phone Number</h5>
            </div>
            <div class="modal-body p-0 mt-2" style="width: 550px">
                <div class="row">
                    <div class="col-6 d-flex flex-column gap-2">
                        <div>
                            <label for="new-phone" class="d-block">Enter new Phone Number</label>
                            <input id="new-phone" class="w-100" type="text" placeholder="phone" />
                        </div>
                        <div>
                            <label for="current-password" class="d-block">Enter current Password</label>
                            <input id="current-password" class="w-100" type="password" placeholder="password" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <p class="icon-back" data-dismiss="modal" aria-label="Back"></p>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

