@using ShoeStoreManagement.Models

<div class="counter">
    <button class="btn-counter" type="button" style="background-color:#14213D"> - </button>
    <div class="counter-text">1</div>
    <button class="btn-counter" type="button" style="background-color:#14213D"> + </button>
</div>