@using ShoeStoreManagement.Models
@using ShoeStoreManagement.Areas.Identity.Data
@code {

}

<div class="col" >

    <div class="row" >
        <ii class="row-1 margin-for-tab">Category</ii>

        <div class="tabCustom row-cols-6" >
            <button class="tabCustom" onclick="openCity(event, 'London')">Test1</button>
            <button class="tabCustom" onclick="openCity(event, 'London')">Test2</button>
            <button class="tabCustom" onclick="openCity(event, 'London')">Test3</button>

        </div>

    </div>
    <div class="row">
        <ii class="row-1 " >Price</ii>

        <div class="radioLayoutTabCustom row-cols-6" >

            <label class="radioLayoutTabCustom"> <input type="radio" name="answer">0-10</label>
            <label class="radioLayoutTabCustom"> <input type="radio" name="answer">10 - 100</label>
            <label class="radioLayoutTabCustom"> <input type="radio" name="answer">100 - 1000</label>

        </div>
    </div>
</div>


