<h3>Tab</h3>
@using ShoeStoreManagement.Models
@using ShoeStoreManagement.Areas.Identity.Data
@code {
    [Parameter]
    public object objectList { get; set; } = null;
}


<div class="rowWrapCustom">
    <div>
        <ii>Category</ii>
    </div>
    <div class="tabCustom">
        <button class="tablinks" onclick="openCity(event, 'London')">Test1</button>
        <button class="tablinks" onclick="openCity(event, 'London')">Test2</button>
        <button class="tablinks" onclick="openCity(event, 'London')">Test3</button>

    </div>

    <div class="radioLayoutTabCustom">
        <ii>Category1</ii>
        <label class="radio">
            <input type="radio" name="answer">
            Yes
        </label>

        <label class="radio">
            <input type="radio" name="answer">
            No
        </label>

        <label class="radio">
            <input type="radio" name="answer">
            Very Yes
        </label>
    </div>

</div>


