@using ShoeStoreManagement.Core.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web;

@if (String.IsNullOrEmpty(orderDetail.Product.ImageName))
{
	orderDetail.Product.ImageName = "product-empty.png";
}

<div class="card d-flex flex-row p-0">
	<div class="col-4 col-md-3 p-0">
		<img src="image/@orderDetail.Product.ImageName" class="card-img-top img h-auto w-100" alt="image" />
	</div>
	<div class="card-body col-8 col-md-9 d-flex flex-column justify-content-between">
		<div>
			<div class="d-flex justify-content-between">
				<p class="h3">@orderDetail.Product?.ProductName</p>
				<p class="h6 mt-2">x @orderDetail.Amount</p>
			</div>
			<div class="d-flex align-items-end">
				<span class="h5">@orderDetail.Product.Color - </span>	
				<span class="h6">@orderDetail.Size</span>
			</div>
		</div>
		<div class="d-flex justify-content-between align-items-end">
			<p class="h5 text-dark">$@orderDetail.Product?.ProductUnitPrice</p>
			<p class="m-0 h3 text-primary">$@orderDetail.Payment</p>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public OrderDetail orderDetail { get; set; } = null!;

	[Parameter]
	public string orderDetailId { get; set; } = null!;

	private void handleEvent()
	{

	}
}
