@using ShoeStoreManagement.Core.Models
@using ShoeStoreManagement.Models
@using ShoeStoreManagement.Controllers
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web;

@inject NavigationManager UriHelper
<nav class="container">
  <ul class="pagination" style="display:flex; flex-direction:row">
    <li class="page-item"><a class="page-link">Previous</a></li>

    @for (int i = 1; i <= @countPage(); i++)
    {
      <li class="page-item"><button class="page-link" type="button" @onclick="()=>setPage()">@i</button></li>
    }
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
  <div>@pageNumber</div>
</nav>

@code {
  [Parameter]
  public List<string> products { get; set; } = new List<string>();

  [Parameter]
  public int pageNumber { get; set; } = 1;

  [Parameter]
  public EventCallback<int> OnGetPageNumber { get; set; }

  void setPage()
  {
    pageNumber++;
  }

  int countPage()
  {

    int numberPages = 0;
    int numberProducts = 0;

    foreach (string i in products)
    {
      numberProducts++;
    }

    numberPages = numberProducts / 10;

    if (numberProducts % 10 != 0)
      numberPages++;

    return numberPages;
  }
}
