@using ShoeStoreManagement.Models

<nav class="container">
    <ul class="pagination" style="display:flex; flex-direction:row">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        @for (int i = 1; i < 6; i++)
        {
          <li class="page-item"><a class="page-link" href="/Admin/Product/Index @i">@i</a></li>
        }
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>