@using ShoeStoreManagement.Core.Models
@using ShoeStoreManagement.Models
@using ShoeStoreManagement.Controllers
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web;


@code {
  [Parameter]
  public List<Product> products { get; set; } = new List<Product>();


  public int pageNumber = 1;

  int countPage()
  {

    int numberPages = 0;
    int numberProducts = 0;

    foreach (Product i in products)
    {
      numberProducts++;
    }

    numberPages = numberProducts / 10;

    if (numberProducts % 10 != 0)
      numberPages++;

    return numberPages;
  }

  private void setPage()
  {
    pageNumber ++;
  }
}

<nav class="container">
    <ul class="pagination" style="display:flex; flex-direction:row">
        <li class="page-item"><a class="page-link">Previous</a></li>

    @for (int i = 1; i <= @countPage(); i++)
      {
      <li class="page-item"><button class="page-link" type="button" @onclick="()=>setPage()">@pageNumber</button></li>
      }
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
    <div>@pageNumber</div>
</nav>

