@using ShoeStoreManagement.Core.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web;

@inject NavigationManager UriHelper

<div class="card border-0 col-4 mb-5" style="height:fit-content">
	<img src="image/shoe.jpg" class="card-img-top img h-auto w-auto" alt="image" @onclick="NavigateToDetail" />
	<div class="card-body">
		<p class="fw-bold h5 mb-2">@product.ProductName</p>
		<p class="h5 mb-2">@product.ProductUnitPrice</p>
	</div>
	@if(!isLiked) {
		<button class="btn btn-primary" type="button" @onclick="AddToWishList">Add to WishList</button>
	}else {
		<button class="btn btn-secondary" type="button" @onclick="RemoveFromWishList">Remove from WishList</button>
	}
</div>

@code {
	[Parameter]
	public Product product { get; set; } = null!;

	[Parameter]
	public bool isLiked { get; set; } = false;

	protected override void OnInitialized()
	{

	}

	void AddToWishList() {
		UriHelper.NavigateTo("Home/AddToWishList/" + product.ProductId, true);
	}

	void RemoveFromWishList()
	{
		UriHelper.NavigateTo("Home/RemoveFromWishList/" + product.ProductId, true);
	}

	void NavigateToDetail()
	{
		UriHelper.NavigateTo("DetailProduct/Index/" + product.ProductId, true);
	}
}