@*@using ShoeStoreManagement.Models*@

@*Onclick => set isShowNavbar = false*@
<div class="card border-0 col-4 mb-5" onclick="">
	<img src="image/shoe.jpg" class="card-img-top img h-auto w-auto" alt="image" />
	<div class="card-body">
		<p class="fw-bold h5 mb-2">Shoes</p>
		<p class="h5 mb-2">$20</p>
	</div>
	<button class="btn btn-primary" onclick="">Add to Cart</button>
</div>

@code {
	//[Parameter]
	//public string eHandler { get; set; } = string.Empty;
	//[Parameter]
	//public Product product { get; set; }
}
