<h3>Tab</h3>
@using ShoeStoreManagement.Models
@using ShoeStoreManagement.Areas.Identity.Data
@code {



}



<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">Test1</button>
    <button class="tablinks" onclick="openCity(event, 'London')">Test2</button>
    <button class="tablinks" onclick="openCity(event, 'London')">Test3</button>
</div>