@using ShoeStoreManagement.Models
@using ShoeStoreManagement.Areas.Identity.Data
@code {

}

<style>
    
</style>

<div class="row">
    <ii class="row-1 mt-2">Category</ii>

    <div class="tabCustom row-cols-6 ">
        <button class="tabCustom" onclick="openCity(event, 'London')">Test1</button>
        <button class="tabCustom" onclick="openCity(event, 'London')">Test2</button>
        <button class="tabCustom" onclick="openCity(event, 'London')">Test3</button>

    </div>

</div>