@using ShoeStoreManagement.Models
@using ShoeStoreManagement.Areas.Identity.Data
@code {

}


<div class="tabCustom row-cols-1">
    <ii>Category</ii>
    <button class="tabCustom" onclick="openCity(event, 'London')">Test1</button>
    <button class="tabCustom" onclick="openCity(event, 'London')">Test2</button>
    <button class="tabCustom" onclick="openCity(event, 'London')">Test3</button>
</div>