@using ShoeStoreManagement.Core.Models;
@using ShoeStoreManagement.Core.ViewModel;
@using ShoeStoreManagement.Views.Shared.Components;

@model ProductVM

@{
	int test = 0;

	var disabled = "disabled";

	void OK(int count)
	{
		test = count;
	}
}

<form class="row mt-3" method="post" action="DetailProduct/CreateCartItem">
	<div class="col-lg-4 col-md-6">

		@if (String.IsNullOrEmpty(Model.product.ImageName))
		{
			Model.product.ImageName = "product-empty.png";
		}

		<img src="~/image/@Model.product.ImageName" asp-append-version="true" class="w-100" />

		<div class="mt-2">
			@*slide*@
			<div class="d-flex justify-content-between">
				@if (Model.product.ImageNames != null && Model.product.ImageNames.Count > 0)
				{
					foreach (var item in Model.product.ImageNames)
					{
						<img src="~/image/@item" class="col-4 h-auto"
					 asp-append-version="true" />
					}
				}
			</div>
		</div>
	</div>

	<div class="col-lg-5 col-md-6 mt-3 mt-md-0 d-flex flex-column justify-content-between">

		<component type="typeof(SizeOfProduct)"
				   param-productVM=@Model
				   render-mode="ServerPrerendered"
				   param-url=@Url.Action("AddToCart","DetailProduct",null,Context.Request.Scheme)
				   />
	</div>

	<div class="col-lg-3 col-md-12 mt-4 mt-sm-0 d-flex flex-column justify-content-between">
		<div>
			<span class="h6">Description</span>
			<p class="caption mt-1">
				@Model.product.Description
			</p>
		</div>
		<div class="border-dash p-3 mt-4 mt-lg-0">
			Voucher
		</div>
	</div>
</form>

<div>
	<p class="h4 mt-5">Related Products</p>

	<div class="col row mt-3">
		@if (Model.products.Count > 0)
		{
			foreach (var item in Model.products)
			{
				if (item.ProductCategory == Model.product.ProductCategory)
				{
					<div class="col-lg-3 col-md-4 col-sm-6 col-6">
						<component type="typeof(ProductCard)"
					   render-mode="ServerPrerendered"
					   param-product=@item
					   param-imageName=@item.ImageName
					   param-isLiked=@item.IsLiked
					   param-url1=@Url.Action("AddToWishList","Home",null,Context.Request.Scheme)
					   param-url2=@Url.Action("RemoveFromWishList","Home",null,Context.Request.Scheme) />
					</div>

				}
			}
		}
	</div>
</div>


<script>
	function a() {
		alert($('#wishlist'))
		document.getElementById("wishlist").value = "jsbdjfs"
	}
</script>