@using ShoeStoreManagement.Core.Models;
@using ShoeStoreManagement.Core.ViewModel;
@using ShoeStoreManagement.Views.Shared.Components;

@model ProductVM

@{
	int test = 0;

	var disabled = "disabled";

	void OK(int count)
	{
		test = count;
	}
}

<form class="row" method="post" action="DetailProduct/CreateCartItem">
	<div class="col-4">
		<img src="~/image/@Model.product.ImageName" asp-append-version="true" class="w-100" />

	</div>
	<div class="col-5 d-flex flex-column justify-content-between">
		
		<component type="typeof(SizeOfProduct)"
				   param-productVM=@Model
				   render-mode="ServerPrerendered"
				   param-url=@Url.Action("AddToCart","DetailProduct",null,Context.Request.Scheme) />
	</div>
	<div class="col">
		<span class="h6">Description</span>
		<p class="caption mt-1">
			@Model.product.Description
		</p>
	</div>
</form>
<div class="row mt-2">
	<div class="col-4">
		@*slide*@
		<div class="d-flex justify-content-between">
			<img src="/image/shoe.jpg" class="col-4" />
			<img src="/image/shoe.jpg" class="col-4" />
			<img src="/image/shoe.jpg" class="col-4" />
		</div>
	</div>
	<div class="col-5 border-dash p-3">
		Voucher
	</div>
</div>
}