<div class="row">
	<div class="col-4">
		<img src="/image/shoe.jpg" class="w-100" />

	</div>
	<div class="col-5 d-flex flex-column justify-content-between">
		<div class="d-flex flex-column gap-4">
			<p class="h2">Shoes</p>
			<div>
				<span class="h6">Color</span>
				<p class="h5 mt-1">Black</p>
			</div>
			<div>
				<span class="h6">Amount</span>
				<p class="m-0 mt-1">Counter</p>
				<div class="d-flex">
					<span class="caption">Remain - </span>
					<span class="button text-primary">200</span>
				</div>
			</div>
		</div>

		<div class="d-flex flex-column gap-2 col-7">
			<button class="btn btn-secondary icon-cart">Add to Cart</button>
			<button class="btn btn-primary icon-arrow">Buy Now</button>
		</div>
	</div>
	<div class="col">
		<span class="h6">Description</span>
		<p class="caption mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
			sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
</div>
<div class="row mt-2">
	<div class="col-4">
		@*slide*@
		<div class="d-flex justify-content-between">
			<img src="/image/shoe.jpg" class="col-4" />
			<img src="/image/shoe.jpg" class="col-4" />
			<img src="/image/shoe.jpg" class="col-4" />
		</div>
	</div>
	<div class="col-5 border-dash p-3">
		Voucher
	</div>
</div>