@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .counter_pagination {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 16px;
        width: 188px;
        height: 49px;
        background-color: #E5E5E5;
        margin-top: 10px;
    }

    .btn_pagination {
        border: none;
        color: white;
        width: 58px;
        height: 49px;
    }
        
    .count_text {
        border: none;
        color: black;
        width: 22px;
        height: 49px;
        text-align: center;
        vertical-align: middle;
        line-height: 49px;
    }
</style>

<div class="counter_pagination">
    <button class="btn_pagination" type="button" style="background-color:#14213D"> - </button>
    <div class="count_text">1</div>
    <button class="btn_pagination" type="button" style="background-color:#14213D"> + </button>
</div>