<footer class="bg-dark border-top text-light text-center text-sm-start">
	<div class="container mt-5 pb-5">
		<div class="row">
			<div class="col-lg-5 col-md-6 col-12 d-grid gap-3">
				<div class="">
					<p class="h4">Address</p>
					<p class="h5">P.Linh Trung, Tp.Thu Duc, Tp.Ho Chi Minh</p>
				</div>
				<div class="">
					<p class="h4">Email</p>
					<p class="h5">abcd@gmail.com</p>
				</div>
				<div>
					<p class="h4">Phone number</p>
					<p class="h5">09xx.xxx.xxx</p>
				</div>

			</div>

			<div class="col-lg-4 col-md-6 col-12 mt-md-0 mt-5">
				<p class="h4">Social Channel</p>
				<div class="">
					<a class="h5">Facebook</a>
					<a class="h5">Instagram</a>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mt-lg-0 mt-md-5 col-12 mt-5 d-grid gap-3">
				<div>
					<p class="h4">Policy & Security</p>
					<a class="h5">Instagram</a>
				</div>
				<div>
					<p class="h4">About</p>
					<a class="h5">Instagram</a>
				</div>
				<div>
					<p class="h4">Support</p>
					<p class="h5">09xx.xxx.xxx</p>

				</div>
			</div>
		</div>
	</div>

</footer>
