<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1 justify-content-center align-items-center">
        <li class="nav-item px-3">
            <a class="nav-link text-secondary h6 @(ViewBag.Home==true?"active":"")" to asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li> 
        <li class="nav-item px-3">
            <a class="nav-link text-secondary h6 @(ViewBag.WishList==true?"active":"")" asp-area="" asp-controller="Home" asp-action="WishList">WishList</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link text-secondary h6 @(ViewBag.Orders==true?"active":"")" asp-area="" asp-controller="Cart" asp-action="Index">Orders</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link text-secondary h6 @(ViewBag.Text==true?"active":"")" asp-area="" asp-controller="" asp-action="">...</a>
        </li>
        <partial name="_AdminMenuPartial" />
    </ul>
</div>
