@using Microsoft.AspNetCore.Identity
@using ShoeStoreManagement.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ShoeStoreManagement</title>
	<base href="~/" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/color.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/icons.css" asp-append-version="true" />
	<link rel="shortcut icon" type="image/x-icon" href="~/image/logo.ico" />
	<link rel="stylesheet" href="~/ShoeStoreManagement.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body id="body" class="">
	@{
		var isShowNavbar = true;
	}
	<header class="ps-sm-5 pe-sm-5 bg-light">
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="~/image/logo.png" title="logo" width="40px" height="40px" />
					Shoe
				</a>
			
				<partial name="_HeaderNavbar" />

				<div class="d-flex gap-3 align-items-center">
					@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin") == false)
					{
						@*<a class="nav-icon-link" asp-controller="Notification" asp-action="Index">
					<i class="fa-regular fa-bell nav-icon"></i>
					</a>*@
						<a class="nav-icon-link" asp-controller="Cart" asp-action="Index">
							<i class="fa-solid fa-cart-shopping nav-icon"></i>
						</a>
					}

					<div class="dropdown">
						<button class="nav-icon-link fa-regular fa-circle-user nav-icon border-0 p-0 m-0" type="button" id="drop" data-bs-toggle="dropdown" aria-expanded="false">
						</button>
						<div class="dropdown-menu dropdown-menu-end" aria-labelledby="drop">
							<partial name="_LoginPartial" />
						</div>
					</div>
				</div>

			</div>

		</nav>

	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
			<base href="~/" />
			<script src="_framework/blazor.server.js"></script>
		</main>
	</div>

	@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin") == true) {
		
	}
	else {
		<partial name="_Footer" />
	}

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/notify.min.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
