<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoeStoreManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/color.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font.css"asp-append-version="true" />
    <link rel="stylesheet" href="~/css/icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShoeStoreManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @{
        var isShowNavbar = true;
    }
    <header class="ms-5">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 mx-5">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Shoe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (isShowNavbar)
                {
                    <partial name="_HeaderNavbar" />
                }
                <partial name="_LoginPartial" />
            </div>
            <div class="d-flex gap-3 align-items-center">
                <a class="nav-icon-link" asp-controller="Notification" asp-action="Index">
                    <i class="fa-regular fa-bell nav-icon"></i>
                </a>
                <a class="nav-icon-link" asp-controller="Cart" asp-action="Index">
                    <i class="fa-solid fa-cart-shopping nav-icon"></i>
                </a>
                <a class="nav-icon-link" asp-controller="Customer" asp-action="Index">
                    <i class="fa-regular fa-circle-user nav-icon"></i>
                </a>
            </div>
        </nav>
    </header>
    <div class="container px-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
   @* <footer class="border-top">
        <div class="ft_col_1">
            <p class="ft_text">Address</p>
            <p class="ft_text_smaller">P.Linh Trung, Tp.Thu Duc, Tp.Ho Chi Minh</p>
            <p class="ft_text">Email</p>
            <p class="ft_text_smaller">abcd@gmail.com</p>
            <p class="ft_text">Phone number</p>
            <p class="ft_text_smaller">09xx.xxx.xxx</p>
        </div>
        
        <div class="ft_col_2">
            <p class="ft_text">Social Channel</p>
            <div class="ft_flex">
                <p class="ft_text_smaller">http://facebook/abcd/2</p>
            </div>
            
            <div class="ft_flex">
                <p class="ft_text_smaller">http://instagram/abcd/2</p>
            </div>
        </div>
        
        <div class="ft_col_3">
            <p class="ft_text">Policy & Security</p>
            <p class="ft_text_smaller">http://abcd/policy/2</p>
            <p class="ft_text">About</p>
            <p class="ft_text_smaller">http://abcd/about/2</p>
            <p class="ft_text">Support</p>
            <p class="ft_text_smaller">09xx.xxx.xxx</p>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <base href="~/" />
    @*<script src="_framework/blazor.server.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
