@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .cus_pagination{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 418px;
        height: 46px;
        margin-top: 10px;
    }

    .btn_pagination{
        border: none;
        color: white;
        width: 46px;
        height: 46px;
    }
</style>

<div class="cus_pagination">
    <button class="btn_pagination" type="button" style="background-color:#14213D" > < </button>
    <button class="btn_pagination" type="button" style="background-color:#FCA311" > 1 </button>
    <button class="btn_pagination" type="button" style="background-color:#E5E5E5" > 2 </button>
    <button class="btn_pagination" type="button" style="background-color:transparent; color:black" > ... </button>
    <button class="btn_pagination" type="button" style="background-color:#E5E5E5" > 4 </button>
    <button class="btn_pagination" type="button" style="background-color:#FCA311" > 5 </button>
    <button class="btn_pagination" type="button" style="background-color:#14213D" > > </button>
</div>