@using ShoeStoreManagement.Core.Models;
@using ShoeStoreManagement.Views.Shared.Components;

@model Order

@if (Model.OrderDetails.Count > 0)
{
	@foreach (var item in Model.OrderDetails)
	{
		<component type="typeof(OrderItemCard)" render-mode="ServerPrerendered" param-orderDetail=@item param-orderDetailId=@item.OrderDetailId />
	}
}

<form method="post" action="Order/Create">
	<button type="submit" class="btn btn-primary">Confirm Order</button>
</form>
