@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.Models;
@using ShoeStoreManagement.Core.Enums;
@using ShoeStoreManagement.Core.ViewModel;

@model OrderVM

<form method="post" action="Order/ConfirmOrder" class="row d-flex justify-content-between mb-lg-5 mb-3">
	<div class="col-12 col-lg-7">
		@if (Model.currOrder.OrderDetails.Count > 0)
		{
			@foreach (var item in Model.currOrder.OrderDetails)
			{
				<component type="typeof(OrderItemCard)" render-mode="ServerPrerendered" param-orderDetail=@item param-orderDetailId=@item.OrderDetailId />
			}
		}

		<div class="d-flex flex-column mt-5">
			<span class="h6">Delivery Method</span>
			<div class="form-floating">
				<select class="form-select" asp-for="currOrder.DeliverryMethods" asp-items="@(new SelectList(Model.deliveryMethods))" id="selectPM" aria-label="Floating label select example">
				</select>
				<span asp-validation-for="currOrder.DeliverryMethods" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 mt-lg-0 mt-5 d-flex flex-column justify-content-between">
		<div class="d-flex flex-column mb-5">
			<span class="h6">Customer Information</span>
			<div class="form-floating">
				<input type="text" asp-for="currOrder.DeliveryAddress" class="form-control" id="address-input" placeholder="Van Ninh, Khanh Hoa">
				<label for="floatingInput">Enter Address</label>
				<span asp-validation-for="currOrder.DeliveryAddress" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input type="text" asp-for="currOrder.PhoneNumber" class="form-control" id="address-input" placeholder="0927392788">
				<label for="floatingInput">Enter Phone Number</label>
				<span asp-validation-for="currOrder.PhoneNumber" class="text-danger"></span>
			</div>
		</div>
		<div class="mt-lg-0 mt-5">
			<div class="d-flex justify-content-between">
				<span class="caption">Items Amount</span>
				<span class="caption">@Model.totalAmount</span>
			</div>
			<div class="d-flex justify-content-between text-dark mt-2">
				<span class="h6">Price</span>
				<span class="h6">$@Model.currOrder.OrderTotalPayment</span>
			</div>
			<div class="d-flex justify-content-between h2 text-dark mt-2">
				<span>Total</span>
				<span>$@Model.currOrder.OrderTotalPayment</span>
			</div>
			<button type="submit" class="btn btn-primary icon-arrow w-100 mt-lg-3 mt-5">Next</button>
		</div>
	</div>
</form>
