@using ShoeStoreManagement.Views.Shared.Components;

<div class="row d-flex justify-content-between">
	<div class="col-7">
		<component type="typeof(OrderItemCard)" render-mode="Static" />
		<component type="typeof(OrderItemCard)" render-mode="Static" />

		<div class="d-flex flex-column mt-5">
			<span class="h6 mb-1">Payment Method</span>
			<div>
				<input class="form-check-input" type="radio" name="selectedPM" value="cash" id="cash" checked />
				<label class="form-check-label" for="cash">cash</label>
			</div>
			<div>
				<input class="form-check-input" type="radio" name="selectedPM" value="atm" id="atm" />
				<label class="form-check-label" for="atm">atm</label>
			</div>
			<div>
				<input class="form-check-input" type="radio" name="selectedPM" value="visa" id="visa" />
				<label class="form-check-label" for="visa">visa</label>
			</div>
		</div>

		<div class="d-flex flex-column mt-5">
			<span class="h6 mb-1">Delivery Method</span>
			<div>
				<input class="form-check-input" type="radio" name="selectedDM" value="fast" id="fast" checked />
				<label class="form-check-label" for="fast">fast (2h today)</label>
			</div>
			<div>
				<input class="form-check-input" type="radio" name="selectedDM" value="normal" id="normal" />
				<label class="form-check-label" for="normal">normal (3-4 days)</label>
			</div>
		</div>
	</div>
	<div class="col-4 d-flex flex-column justify-content-between">
		<div>
			<div class="d-flex flex-column">
				<span class="h6 mb-2">Voucher</span>
				<div class="d-flex">
					<input type="text" id="voucherCode" class="input flex-fill" />
					<button class="btn btn-primary icon-search">Check</button>
				</div>
			</div>
			<div class="d-flex flex-column mt-5">
				<span class="h6 mb-2">Address</span>
				<div class="mb-3">
					<input class="form-check-input" type="radio" name="selectedAddress" value="vn" id="vn" checked />
					<label class="form-check-label" for="vn">Viet Nam</label>
				</div>
				<button class="btn btn-secondary icon-plus w-50">Add new</button>
			</div>
		</div>

		<div class="">
			<div class="d-flex justify-content-between">
				<span class="caption">Items Amount</span>
				<span class="caption">4</span>
			</div>
			<div class="d-flex justify-content-between text-dark mt-2">
				<span class="h6">Price</span>
				<span class="h6">$80</span>
			</div>
			<div class="d-flex justify-content-between mt-2">
				<span class="caption">Delivery Fee</span>
				<span class="caption">$5</span>
			</div>
			<div class="d-flex justify-content-between caption text-primary mt-2">
				<span>Voucher</span>
				<span>-$5</span>
			</div>
			<div class="d-flex justify-content-between h2 text-dark mt-2">
				<span>Total</span>
				<span>$80</span>
			</div>
			<button class="btn btn-primary icon-arrow w-100 mt-3">Next</button>
		</div>
	</div>
</div>
