@{
    ViewData["Title"] = "Home Page";
}

<h1>hi</h1>

<button class="btn btn-primary icon-arrow" onclick="location.href='@(Url.Action("Privacy", "Home"))'">hihi</button>

@*<base href="~/" />*@
@*<partial name="./Components/btnPrimary" onclick="location.href='@(Url.Action("Privacy", "Home"))'"/>*@
@*<component type="typeof(BtnPrimary)" render-mode="Static" />*@
@*<button type="button" class="plus-icon">hihihi</button>*@

