@{
	ViewData["Title"] = "WishList Page";
}

@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.Models;
@model WishList;

<div class="row">
	<div class="col-3">
		<div class="row">
			<ii class="row-1 h6">Category</ii>

			<div class="tabCustom row-cols-6">
				<button class="tabCustom" onclick="openCity(event, 'London')">All</button>
				<button class="tabCustom" onclick="openCity(event, 'London')">Retro</button>
				<button class="tabCustom" onclick="openCity(event, 'London')">Basic</button>
				<button class="tabCustom" onclick="openCity(event, 'London')">Street</button>
				<button class="tabCustom" onclick="openCity(event, 'London')">Sweet</button>
			</div>

		</div>
	</div>
	<div class="col-9 row">
		@if (Model != null && Model.WishListDetails.Count > 0)
		{
			@foreach (var item in Model.WishListDetails)
			{
				<component type="typeof(ProductCard)" 
					render-mode="ServerPrerendered" param-product=@item.Product param-isLiked=true param-imageName=@item.Product.ImageName />
			}
		}
	</div>
</div>
