@{
    ViewData["Title"] = "WishList Page";
}

@using ShoeStoreManagement.Views.Shared.Components;

<div class="row">
    <div class="col-3">
        <component type="typeof(Tab)" render-mode="Static" />
    </div>
    <div class="col-9 row">
        @for(var i = 0; i < 5; i++) {
            <component type="typeof(ProductCard)" render-mode="Static" />
        }
    </div>
</div>

<p>pagination</p>