@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.Models;
@model WishList;

@{
	ViewData["Title"] = "WishList Page";

	List<ProductCategory> categories = ViewData["categories"] as List<ProductCategory>;
}



<div class="row">
	<div class="col-3">
		<div class="row">
			<ii class="row-1 h6">Category</ii>
				<div class="tabCustom row-cols-6 w-100" style="max-height:260px; overflow-y:scroll; overflow-x:hidden">
				<a class="tabCustom" style="height:50px;" asp-action="WishList" asp-route-filter="All" type="button">All</a>
				@foreach (ProductCategory i in categories)
				{
					<a class="tabCustom" style="height:50px;" asp-action="WishList" asp-route-filter="@i.ProductCategoryName" type="button">@i.ProductCategoryName</a>
					}
				</div>
			</div>

		</div>

	<div class="col-9 row">
		@if (Model != null && Model.WishListDetails.Count > 0)
		{
			@foreach (var item in Model.WishListDetails)
			{
				<component type="typeof(ProductCard)" 
					render-mode="ServerPrerendered" param-product=@item.Product param-isLiked=true param-imageName=@item.Product.ImageName />
			}
		}
	</div>
</div>
