@{
	ViewData["Title"] = "Cart Page";
}
@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.Models;
@model Cart

@{
	var disabled = "disabled";

	foreach(var i in Model.CartDetails ) {
		if (i.IsChecked == true) {
			disabled = "";
			break;
		}
	}
}

<div class="row justify-content-sm-between">
	<section class="col-8 col-sm-7">
		@if (Model.CartDetails.Count > 0)
		{
			@foreach (var item in Model.CartDetails)
			{
				<component type="typeof(CartItemCard)" render-mode="ServerPrerendered" param-cartItem=@item param-cartItemId=@item.CartDetailId />
			}
		}
	</section>

	<section class="col-4 padding-cart" aria-label="price">
		<div class="d-flex justify-content-between">
			<h6>Items amount</h6>
			<h6>4</h6>
		</div>
		<div class="d-flex justify-content-between">
			<h5 class="fw-bold mt-3">Total price</h5>
			<h5 class="fw-bold mt-3">$@Model.CartTotalPrice</h5>
		</div>
		<button class="btn btn-primary mt-5 w-100" onclick="location.href = '@(Url.Action("MakeAnOrder", "Order"))'" @disabled >Make an order</button>
	</section>
</div>

