@{
	ViewData["Title"] = "Cart Page";
}
@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.Models;
@model Cart

@{
	var disabled = "disabled";

	List<string> ids = new List<string>();

	foreach (var i in Model.CartDetails)
	{
		ids.Add(i.CartDetailId);

		if (i.IsChecked == true)
		{
			disabled = "";

			break;
		}
	}
}

<div class="row justify-content-sm-between">
	<component type="typeof(CartCompo)" render-mode="ServerPrerendered" param-cart=@Model param-cartId=@Model.CartId param-cartDetailIds=@ids
			   param-url1=@Url.Action("UpdateAmount","Cart",null,Context.Request.Scheme)
			   param-url2=@Url.Action("UpdateChecked","Cart",null,Context.Request.Scheme)
			   param-url3=@Url.Action("Delete","Cart",null,Context.Request.Scheme)
			   param-disabled=@disabled>
	</component>

	@*<button class="btn btn-primary mt-5 w-100" onclick="location.href = '@(Url.Action("MakeAnOrder", "Order"))'" @disabled >Make an order</button>*@
</div>

