@*CUSTOMER*@
@using ShoeStoreManagement.Views.Shared.Components;
@using ShoeStoreManagement.Core.ViewModel;
@using ShoeStoreManagement.Areas.Identity.Data

@model UserVM

<div class="row borderCustom">

	<div class="col-lg-2 d-lg-block collapse borderCustom1 um">
		<div class="row">
			<ii class="row-1 h6 mb-2 mt-4">Category</ii>
			<form method="post">
				<div class="tabCustom row-cols-6 w-100" style="max-height:260px; overflow-y:scroll; overflow-x:hidden">
					<button class="tabCustom" asp-action="Index" asp-route-filter="All">All</button>
					<button class="tabCustom" asp-action="Index" asp-route-filter="Admin">Admin</button>
					<button class="tabCustom" asp-action="Index" asp-route-filter="Staff">Staff</button>
					<button class="tabCustom" asp-action="Index" asp-route-filter="Customer">Customer</button>
					<button class="tabCustom" asp-action="Index" asp-route-filter="Passenger">Passenger</button>
				</div>
			</form>
		</div>
	</div> @*used to col-3 vs col-10*@

	<div class="col-lg-10 col-12 mt-3 mt-lg-0">
		<div class="row">
			<div class="col-md-12" id="hihi">
				<partial name="_ViewAll" model=@Model.applicationUsers />
			</div>
		</div>
	</div>
</div>

<a onclick="showContent2('@Url.Action("Create","User",null,Context.Request.Scheme)','Add new User')" class="btn btn-primary icon-plus rounded position-fixed" style="right:0; bottom:60px;">
</a>