/*NAV*/
.nav-icon {
    color: black
}

.nav-icon-link {
    font-size: 20px;
}

.nav-link {
    font-size: 15px;
}

.nav-link.active {
    font-weight: 600;
    color: var(--bs-dark)!important;
} 

/*CARD*/
.card-img-top {
    width: 100%;
    height: 250px;
    background-color: #dfdfdf
}

.cart-item-img {
    width: 100%;
    height: 100%;
    background-color: #dfdfdf;
}

/*DROPDOWN*/
.btn-for-dropdown {
    color: var(--button-color);
    background-color: var(--button-background-color);
    border: 1px solid;
    border-color: rgba(20, 33, 61, 0.8);
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    outline-color: black;
}

    .btn-for-dropdown:hover {
        box-shadow: none;
        outline: none;
        border: 2px solid;
        border-color: rgb(20, 33, 61);
        border-radius: 0px;
        background-color: whitesmoke;
        color: black;
        cursor: pointer;
    }

    .btn-for-dropdown:focus {
        box-shadow: none;
        background-color: whitesmoke;
        color: black;
        outline: none;
        text-decoration: none;
        font-weight: 400;
        border: 2px solid rgb(20, 33, 61);
        border-radius: 0px;
    }

    .btn-for-dropdown:active {
        color: black;
        font-weight: 400;
        background-color: whitesmoke;
        border: 2px solid rgb(20, 33, 61);
        border-radius: 0px;
        box-shadow: none;
        outline: none;
    }

    .btn-for-dropdown:disabled,
    .btn-for-dropdown.is-disabled {
        opacity: .5;
    }




/* Style the tab */
.tabCustom {
    margin-inline-start: 8px;
    float: left;
    background-color: white;
    width: 100%;
    height: 300px;
    color: rgba(0,0,0,0.5);
    font-weight:900;
}

    /* Style the buttons that are used to open the tab content */
    .tabCustom button {
        /* IsSelected=Yes */
        /* Auto layout */
        background-color: white;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 12px;
        padding-left: 16px;
        padding-bottom: 12px;
        width: 100%;
        height: auto;
        font-size: 14px;
    }

        .tabCustom button:focus, .tabCustom button:active, .tabCustom button:visited {
            text-decoration: underline;
            color: black;
            font-weight: 900;
            background-color: #FBF3E9;
            font-size: 16px;
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .tabCustom button:hover {
            color: black;
            font-weight: 900;
            font-size: 16px;
            background-color: #FBF3E9;
            /*animation: myfirst 3s linear infinite;*/
            transition: ease-in-out 300ms;
            
        }

@keyframes myfirst {
    0% {
        background-color: red;
       
    }

  
}

.radioLayoutTabCustom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    width: 127px;
    height: auto;
    font-size: 14px;
}

    .radioLayoutTabCustom label {
        /* Radio */
        /* Auto layout */

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        width: max-content;
        height: auto;

    }

.borderCustom {
    border-top: 1px solid rgba(20, 33, 61, 0.1);
}

.borderCustom1 {
    border-right: 1px solid rgba(20, 33, 61, 0.1);
    z-index:999;
}

.borderCustom2 {
    border-bottom: dotted;
    border-bottom: 1px solid rgba(20, 33, 61, 0.1);
}

.borderCustom3 {
    padding: 10px;
    border-top: 1px solid rgba(20, 33, 61, 0.1);
    border-right: 1px solid rgba(20, 33, 61, 0.1);
    border-left: 1px solid rgba(20, 33, 61, 0.1);
    border-bottom: 1px solid rgba(20, 33, 61, 0.1);
}

/*Form*/
.form-floating {
    margin-top: 20px;
}

/*PAGINATION*/
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pagination-item {
    margin: 0px 0px 0px 0px;
    width:auto;
    height: inherit;
}

.page-item {
    color: #fff;
    display: flex;
}

/*COUNTER*/
.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 188px;
    height: 49px;
    background-color: #E5E5E5;
    margin-top: 10px;
}

.btn-counter {
    border: none;
    color: white;
    width: 58px;
    height: 49px;
}

.counter-text {
    border: none;
    color: black;
    width: 22px;
    height: 49px;
    text-align: center;
    vertical-align: middle;
    line-height: 49px;
}

.label-setting {
    font-weight: bold;
    font-size: 14px;
}

.hidden-button {
  background-color: transparent;
  border: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.hidden-button:active {
  background-color: transparent;
  height: inherit;
  width: inherit;
  padding: 0px 0px 0px 0px;
}
