/*NAV*/
.nav-icon {
    color: black
}

.nav-icon-link {
    font-size: 20px;
}

.nav-link {
    font-size: 15px;
}

.nav-link.active {
    font-weight: 600;
    color: var(--bs-dark)!important;
} 

/*CARD*/
.card-img-top {
    width: 100%;
    height: 250px;
    background-color: #dfdfdf
}

.cart-item-img {
    width: 100%;
    height: 100%;
    background-color: #dfdfdf;
}

/*DROPDOWN*/
.btn-for-dropdown {
    color: var(--button-color);
    background-color: var(--button-background-color);
    /* border-radius: var(--border-radius);
        border-color: rgba(20, 33, 61, 0.5);*/
    border: none;
    outline: auto;
    outline-color: rgba(20, 33, 61, 0.5);
}

    .btn-for-dropdown:hover {
        box-shadow: inset 0 0 0 20rem var(--darken-1);
        outline: auto;
        border: none;
        background: white;
        color: black;
        cursor: pointer;
    }

    .btn-for-dropdown:focus {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        background-color: white;
        color: black;
    }

    .btn-for-dropdown:active {
        color: black;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        outline: auto;
    }

    .btn-for-dropdown:disabled,
    .btn-for-dropdown.is-disabled {
        opacity: .5;
    }



.rowWrapCustom {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
/* Style the tab */
.tabCustom {
    margin-inline-start: 15px;
    float: left;
    /*background-color: #f1f1f1;*/
    width: 30%;
    height: auto;
}

    /* Style the buttons that are used to open the tab content */
    .tabCustom button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        text-underline-offset: 0.1em;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */


        /* Create an active/current "tab button" class */
        .tabCustom button:focus, button:active, button:visited, .active {
            background-color: #ddd;
            text-decoration: underline;
            color: black;
        }

/* Style the tab content */
.tabCustomContent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

.radioLayoutTabCustom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 16px;
    width: 127px;
    height: 132px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/*STATIC PANEL*/
.static-panel {
    height: 100px;
}