/*NAV*/
.nav-icon {
    color: black
}

.nav-icon-link {
    font-size: 20px;
}

.nav-link {
    font-size: 15px;
}

.nav-link.active {
    font-weight: 600;
    color: var(--bs-dark)!important;
} 

/*CARD*/
.card-img-top {
    width: 100%;
    height: 250px;
    background-color: #dfdfdf
}

.cart-item-img {
    width: 100%;
    height: 100%;
    background-color: #dfdfdf;
}

/*DROPDOWN*/
.btn-for-dropdown {
    color: var(--button-color);
    background-color: var(--button-background-color);
    border: 1px solid;
    border-color: rgba(20, 33, 61, 0.8);
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    outline-color: black;
}

    .btn-for-dropdown:hover {
        box-shadow: none;
        outline: none;
        border: 2px solid;
        border-color: rgb(20, 33, 61);
        border-radius: 0px;
        background-color: whitesmoke;
        color: black;
        cursor: pointer;
    }

    .btn-for-dropdown:focus {
        box-shadow: none;
        background-color: whitesmoke;
        color: black;
        outline: none;
        text-decoration: none;
        font-weight: 400;
        border: 2px solid rgb(20, 33, 61);
        border-radius: 0px;
    }

    .btn-for-dropdown:active {
        color: black;
        font-weight: 400;
        background-color: whitesmoke;
        border: 2px solid rgb(20, 33, 61);
        border-radius: 0px;
        box-shadow: none;
        outline: none;
    }

    .btn-for-dropdown:disabled,
    .btn-for-dropdown.is-disabled {
        opacity: .5;
    }




/* Style the tab */
.tabCustom {
    margin-inline-start: 8px;
    float: left;
    background-color: white;
    width: 170px;
    height: auto;
}

    /* Style the buttons that are used to open the tab content */
    .tabCustom button {
        /* IsSelected=Yes */
        /* Auto layout */
        background-color: white;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 12px;
        padding-left: 12px;
        width: 100%;
        height: 45px;
        font-size: 14px;
    }

        .tabCustom button:focus, button:active, button:visited .active {
            text-decoration: underline;
            color: black;
            font-weight: 700;
            /*background-color: whitesmoke;*/
        }

        .tabCustom button:hover, .active {
            color: black;
            background-color: whitesmoke;
        }


.radioLayoutTabCustom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    width: 127px;
    height: auto;
    font-size: 14px;
}

    .radioLayoutTabCustom label {
        /* Radio */
        /* Auto layout */

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        width: max-content;
        height: auto;

    }

.borderCustom {
    border-top: 1px solid rgba(20, 33, 61, 0.1);
}

.borderCustom1 {
    border-right: 1px solid rgba(20, 33, 61, 0.1);
}

.borderCustom2 {
    border-bottom: dotted;
    border-bottom: 1px solid rgba(20, 33, 61, 0.1);
}